html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

#text {
    height: 40%;
}

@media screen and (min-width: 400px) {
    #text {
        margin-top: -300px;
        height: 40%;
    }
}

.custom-tooltip {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 40%;
}

.custom-start{
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 40%;
}